@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* universal style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main section{
  max-width: 1110px;
  margin: 100px auto;
}

main, 
header > section {
  margin: 50px 0px;
  padding: 30px 0px;
}

body img {
  width: 100%;
}

/* shared or common style */

.d-flex {
  display: flex;
}

.hide {
  display: none;
}

.text-small {
  font-size: 1rem;
}

.text-medium {
  font-size: 1.5rem;
  font-weight: 600;
}

.text-large {
  font-size: 1.75rem;
  font-weight: 700;
}

.text-xl {
  font-size: 2.5rem;
}

.padding-x {
  padding: 15px 0px;
}

.padding-y {
  padding: 20px 0px;
}

.padding-all {
  padding: 15px 15px;
}

.margin-x {
  margin: 15px 0px;
}

.margin-x-large {
  margin: 50px 0px;
}

/* All style */
header nav, .hero-section{
  max-width: 1110px;
  margin: 0 auto;
}
nav{
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

nav ul li {
  list-style: none;
  margin-right: 15px;
  float: left
}

nav li a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  font-weight: 600;
  color: #3A3A3A;
}


/* hero section */
.hero-section {
  margin-top: 50px;
  justify-content: space-around;
  align-items: center;
}
.hero-contents-column {
  max-width: 582px;
}

.hero-img-column {
  background-image: url("../images/circle-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 475px;

}

.hero-title {
  font-size: 52px;
  font-weight: bold;
  line-height: 70px;
}

.hero-desc {
  font-weight: 600;
  color: #3A3A3A;
}

.hero-btn {
  background-color: #E02C6D;
  color: white;
  padding: 10px 24px;
  border-radius: 41px;
  border: none;
  font-weight: bold;
}
/* Sponsor section */
.sponsor-section{
  padding: 35px 60px;
  border: 1px solid #ddd;
  gap: 60px;
  align-items: center;
  margin-top: 0px;
}
/* collection section styles*/
.coll-cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
  
}
.coll-section-title{
  text-align: center;
}
.collection-cards{
  padding: 17px 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.spacial-btn{
  padding-top: 40px;
  float: right;
  color: rgba(253, 7, 97, 0.87);
  font-weight: bold;
}
/* featured section style */
.featured{
  gap: 96px;
  align-items: center;
  justify-content: center;
}
.featured-btn{
  background-color: #E02C6D;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  color: white;
}
/* footer styles */
footer{
  background-color: #0A0826;
  padding: 30px;
}
footer .footer-info{
  max-width: 262px;
  color: white;
  margin: 0 auto;
  text-align: center;
}